div {
    height: auto;
    background-color: rgb(200, 183, 216);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    font-weight: lighter;
    font-size: 35px;
    text-align: center;
}

.eachArticle {
    margin: 25px 0;
}

.eachArticle:first-of-type{
    margin-top: 50px;
}