<ul>
    <li><a class="nav-link active" aria-current="page" routerLink="/home">Accueil</a></li>
    <li class="dropdown">
        <a href="#">Leçons</a>
        <ul class="dropdown-menu">
            <li><a href="#">Leçon 1</a></li>
            <li><a href="#">Leçon 2</a></li>
            <li><a href="#">Leçon 3</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#">Exercices</a>
        <ul class="dropdown-menu">
            <li><a href="#">Exercice 1</a></li>
            <li><a href="#">Exercice 2</a></li>
            <li><a href="#">Exercice 3</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#">TP</a>
        <ul class="dropdown-menu">
            <li><a aria-current="page" routerLink="/Component-Manipulation">Component Nesting</a></li>
            <li><a href="#">TP 2</a></li>
            <li><a href="#">TP 3</a></li>
        </ul>
    </li>
</ul>