<ul>
    <li><a class="nav-link active" aria-current="page" routerLink="/home">Accueil</a></li>
    <li class="dropdown">
        <a href="#">Leçons</a>
        <ul class="dropdown-menu">
            <li><a aria-current="page" routerLink="/Pipes">Pipes</a></li>
            <li><a aria-current="page" routerLink="/Pokemon-list">Pokemon List</a></li>
            <li><a href="#">Leçon 3</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#">Exercices</a>
        <ul class="dropdown-menu">
            <li><a aria-current="page" routerLink="/Text-Interpolation">Text Interpolation</a></li>
            <li><a aria-current="page" routerLink="/Blog-control-center">Blog Control Center</a></li>
            <li><a aria-current="page" routerLink="/Cats-list">Cats List</a></li>
            <li><a aria-current="page" routerLink="/Insects-list">Insects List</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#">TP</a>
        <ul class="dropdown-menu">
            <li><a aria-current="page" routerLink="/Component-Manipulation">Component Nesting</a></li>
            <li><a aria-current="page" routerLink="/Binding-system">Binding System</a></li>
            <li><a aria-current="page" routerLink="/Directives">Directives</a></li>
        </ul>
    </li>
</ul>