<div class="container">
    <h2 class="text-center text-primary">Parent Component</h2>
          <!-- Message reçu de l'enfant -->
          <div *ngIf="childNotification" class="alert alert-warning mt-3">
      <strong>Notification from Child:</strong> {{ childNotification }}
    </div>

    <!-- Formulaire pour modifier le message -->
    <div class="mb-3">
      <label for="messageInput" class="form-label">Message to Child:</label>
      <input [(ngModel)]="parentMessage" id="messageInput" class="form-control" placeholder="Enter a message" />
    </div>

    <!-- Contrôle du compteur -->
    <div class="mb-3">
      <label class="form-label">Counter Value:</label>
      <button class="btn btn-danger me-2" (click)="decreaseCounter()">-</button>
      <span class="badge bg-secondary">{{ counterParent }}</span>
      <button class="btn btn-success ms-2" (click)="increaseCounter()">+</button>
    </div>

    <!-- Inclusion du composant enfant -->
     <!-- <img [src]="uneVaraibble " alt=""> -->

    <app-pipes-child-component
      [message]="parentMessage"
      [counter]="counterParent"
      (notify)="handleNotification($event)"
    ></app-pipes-child-component>
  </div>
