.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(208, 242, 253);
    width: 400px;
    border: 1px solid rgb(197, 235, 248);
    border-radius: 50px;
}

h3 {
    font-weight: lighter;
    
}

ul {
    list-style: none;
    color: rgb(38, 61, 70);
}

img {
    width: 170px;
    height: 200px;
}
li {
    padding-bottom: 12px;
}

.message {
    text-align: center;
    padding: 20px 0;
    color: rgb(38, 61, 70);
}

.amiOn{
    color: rgb(38, 61, 70);
  }
  
.amiOff{
    color: rgb(114, 71, 80);
}